:root {
  --bs-gap: 20px;
}

body {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  background-color: $primary-background-color;
  color: $primary-text-color;
  letter-spacing: $primary-letter-spacing;
  font-feature-settings: 'lnum' 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  line-height: 1.1;
  font-weight: bold;
}

h1 {
  margin-bottom: 23px;
  font-size: clamp(28px, 5.5vw, 34px);
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

p {
  margin: 0 0 20px 0;

  &:last-child {
    margin: 0;
  }
}

ul,
ol {
  li {
    margin: 0 0 20px 0;

    &:last-child {
      margin: 0;
    }
  }
}

a {
  text-decoration: none;
  color: $primary-color;
  transition: 0.3s;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

img {
  max-width: 100%;
}

.container-fluid {
  max-width: 1300px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  overflow: hidden;
}

.main-area {
  flex: 1 1 auto;
  padding: 16px 0 100px;
}
