// Define breakpoints
$breakpoint-xsmall: 374px;
$breakpoint-small: 575px;
$breakpoint-medium: 767px;
$breakpoint-large: 991px;
$breakpoint-xlarge: 1199px;

// Mixin for media queries
@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: #{$breakpoint-small}) {
      @content;
    }
  } @else if $breakpoint == xsmall {
    @media (max-width: #{$breakpoint-xsmall}) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: #{$breakpoint-medium}) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: #{$breakpoint-large}) {
      @content;
    }
  } @else if $breakpoint == xlarge {
    @media (max-width: #{$breakpoint-xlarge}) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}. Please use one of small, medium, large, xlarge.";
  }
}
